@model FreelancerCorp.PresentationLayer.Models.Corporations.CorporationListViewModel

@{
    ViewBag.Title = "Corporations";
}

<h2>Here is the place to list all ULTIMATE corporations:</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>        
        <th>
            Address
        </th>
        <th>
            Average rating
        </th>
    </tr>
    @foreach (var corporation in Model.Corporations)
    {
        <tr>
            <td>
                <strong class="text-danger">@corporation.Name</strong>
            </td>
            <td>
                <strong class="text-danger">@corporation.Address</strong>
            </td>
            <td>
                @if (corporation.AverageRating.HasValue)
                {
                    <strong class="text-danger" style="color:darkgreen">@string.Format("{0:N2}",@corporation.AverageRating)</strong>
                } else
                {
                    <strong class="text-danger">No rated yet</strong>
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = corporation.Id })
            </td>
        </tr>
    }
</table>
