@model FreelancerCorp.PresentationLayer.Models.Offers.OfferListViewModel

@{
    ViewBag.Title = "OfferListView";
}

<h2>OfferListView</h2>

<table class="table">
    <tr>
        <th>Category</th>
        <th>Price</th>
        
    </tr>

@foreach (var offer in Model.Offers) {
<tr>
    <td>
        <strong class="text-danger">@offer.Cathegory</strong>
    </td>
    <td>
        <strong class="text-danger">@offer.Price</strong>
    </td>
    
</tr>
}

</table>
