
@{
    ViewBag.Title = "GeneralExceptionView";
}

<div class="jumbotron" style="color:red">
    <h1>Something bad has happened!</h1>
    <p class="lead" style="color:moccasin">Please try it later.</p>
</div>
<p>
    @Html.ActionLink("Back", "Index")
</p>
